link(rel='stylesheet', href='/stylesheets/footer.css')

footer
  links
    ul.links#products
      li.header Products
      li
        a(href="/") General Liability
      li
        a(href="/") Automotive
      li
        a(href="/") Commercial Vehicles
      li
        a(href="/") Home
      li 
        a(href="/") Motorcycle

    ul.links#about
      li.header About Us
      li
        a(href="/") Our Company
      li
        a(href="/") Our Team
      li
        a(href="/") Customer Reviews
      li
        a(href="/") Español
    
    ul.links#learningcenter
      li.header Learning Center
      li
        a(href="/") Knowledge Base
      li
        a(href="/") Insurance FAQs
      li
        a(href="/") Helpful Links
      li
        a(href="/") Glossary

  footertext 
    text ©2024 SlimTech. All Rights Reserved. 