link(rel='stylesheet', href='/stylesheets/header.css')

header
  a#CompanyLogoIcon(href="/")
  nav
    .menu-icon#menu-icon &#9776;
    ul#nav-menu
      li.rawlink
        a.dropdownlabel(href="GetAQuote") Get A Quote
      li#productsdropdown 
        .dropdownlabel Products
        include dropdownarrow
        ul.dropdown#products 
          li
            a(href="GeneralLiability") General Liability
          li
            a(href="Automotive") Automotive
          li
            a(href="CommercialVehicles") Commercial Vehicles
          li
            a(href="Home") Home
          li
            a(href="Motorcycle") Motorcycle
      li#aboutsdropdown
        .dropdownlabel About
        include dropdownarrow
        ul.dropdown#abouts
          li
            a(href="OurCompany") Our Company
          li
            a(href="OurTeam") Our Team
          li
            a(href="CustomerReviews") Customer Reviews
          li
            a(href="Espanol") Español


      li#learningcenterdropdown 
        .dropdownlabel Learning Center
        include dropdownarrow
        ul.dropdown#learningcenter
          li
            a(href="KnowledgeBase") Knowledge Base
          li
            a(href="InsuranceFAQs") Insurance FAQs
          li
            a(href="HelpfulLinks") Helful Links
          li
            a(href="Glossary") Glossary

      li.rawlink
        .dropdownlabel +1(949)836-6193
        
.whitespace-block
         
script(src='/javascripts/menu.js')
script(src='/javascripts/onclickborder.js')