footermessage {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(237, 235, 235);
}

box {
  width: 95%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  font-size: 2.0rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phonenumber {
  font-size: 1.0rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  color: #454545;
}

text {
  font-size: 1rem;
  font-weight: 400;
  width: 60rem;
  text-align: center;
}

@media (max-width: 961px) {
  message{
    width: 80%;
  }

  text {
    width: 100%;
  }
}