extends ../smallherolayout

block content
  mainblock 
    contentblock
      .maintextheader Commercial Vehicles Insurance
      .maintextbody 
        | Commercial vehicles insurance is a type of insurance that helps protect your business vehicles from financial losses resulting from accidents, theft, and other risks. 
        | This insurance policy typically covers damage to your vehicles, medical expenses, and liability claims if your drivers are at fault in an accident. 
        | Commercial vehicles insurance is essential for businesses that rely on vehicles to transport goods, equipment, or employees, as it provides financial protection and peace of mind while on the road.
      .maintextsubheader Coverage
      .maintextbody 
        | <u>Commercial vehicles insurance typically covers the following:</u>
        ul
          li Collision coverage: This helps pay for repairs to your vehicles if they are involved in a collision with another vehicle or object.
          li Comprehensive coverage: This helps pay for repairs to your vehicles if they are damaged by something other than a collision, such as theft, vandalism, or natural disasters.
          li Liability coverage: This helps cover the costs of bodily injury and property damage if your drivers are at fault in an accident.
          li Medical payments coverage: This helps cover medical expenses for your drivers and passengers if they are injured in an accident.
          li Uninsured/underinsured motorist coverage: This helps cover the costs of injuries and damages if your drivers are involved in an accident with a driver who does not have insurance or enough insurance to cover the costs.