extends ../smallherolayout

block content 
  mainblock 
    contentblock 
      .maintextheader Hablamos Español
      .maintextbody 
        | En OC Insurance Agency, entendemos que la barrera del idioma puede dificultar la comunicación con su agente de seguros. 
        | Por eso, ofrecemos servicios en español para que pueda obtener la cobertura que necesita sin preocupaciones.
        | <br><br>
        | Nuestros agentes bilingües están aquí para ayudarlo con todas sus necesidades de seguros, 
        | desde cotizaciones y pólizas hasta reclamos y preguntas sobre su cobertura.
        | <br><br>
        | Ya sea que necesite seguro de auto, seguro de hogar, seguro de vida o cualquier otro tipo de cobertura, 
        | nuestro equipo está aquí para brindarle el apoyo y la orientación que necesita en español.
        | No deje que la barrera del idioma le impida obtener la protección que necesita. 
        | <br><br>
        | ¡Contáctenos hoy para obtener una cotización gratuita y descubra cómo podemos ayudarlo a proteger lo que más le importa!
        | Llámenos al 
        a(href="tel:+19498366193") +1 (949) 836-6193 </a>
        | o visite su oficina de OC Insurance Agency más cercana para hablar con uno de
        a(href="/") nuestros amables agentes
        | en persona y descubra de qué se trata nuestra empresa.