extends ../smallherolayout

block content
  mainblock 
    contentblock
      .maintextheader General Liability Insurance
      .maintextbody 
        | General liability insurance is a type of commercial insurance that helps protect businesses from financial losses resulting from bodily injury, property damage, and other liabilities. 
        | This insurance policy typically covers legal costs and damages if your business is sued for negligence, personal injury, or property damage. 
        | General liability insurance is essential for businesses of all sizes and industries, as it provides financial protection and peace of mind in the event of an accident or lawsuit.
      .maintextsubheader Coverage
      .maintextbody 
        | <u>General liability insurance typically covers the following:</u>
        ul
          li Bodily injury: If a customer or visitor is injured on your business premises, general liability insurance can help cover medical expenses, legal fees, and damages.
          li Property damage: If your business causes damage to someone else's property, general liability insurance can help cover the costs of repairs or replacement.
          li Personal injury: This includes claims of libel, slander, and copyright infringement against your business.
          li Advertising injury: If your business is accused of false advertising, copyright infringement, or other advertising-related offenses, general liability insurance can help cover legal fees and damages.
