extends ../layout

block content
  mainblock
    contentblock
      .maintextheader Super Smash Bros. Melee: A Competitive Legacy
      .maintextbody 
        | "Super Smash Bros. Melee" (SSBM), released in 2001 for the Nintendo GameCube, 
        | remains one of the most iconic and influential fighting games in history. 
        | Directed by Masahiro Sakurai, Melee is the second installment in the "Super Smash Bros." series, 
        | following the success of the original "Super Smash Bros." on the Nintendo 64.<br><br>
        | What distinguishes Melee from its predecessor—and most fighting games—is its unique blend of characters from various Nintendo franchises and its fast-paced, technical gameplay, 
        | which has carved out a lasting place in both casual and competitive gaming communities.
      .maintextsubheader Gameplay and Mechanics
      .maintextbody 
        | The core gameplay of Melee revolves around players controlling characters from various Nintendo franchises, 
        | such as Mario, Link, and Pikachu, and battling it out on various stages. 
        | Unlike traditional fighting games, where players deplete their opponents' health bars, 
        | Melee uses a percentage system where players accumulate damage as they are hit, 
        | making them easier to launch off the stage. The goal is to knock opponents off the stage to score points and win the match.
      .maintextsubheader Competitive Scene
      .maintextbody 
        | While Melee was initially designed as a party game, its deep mechanics and high skill ceiling 
        | have led to the development of a thriving competitive scene. 
        | Competitive Melee players, known as "smashers," compete in tournaments around the world, 
        | showcasing their skills in intense one-on-one battles. 
        | The competitive scene has produced legendary players like Joseph "Mang0" Marquez, 
        | Adam "Armada" Lindgren, and Juan "Hungrybox" DeBiedma, 
        | who have become household names in the gaming community.