extends ../smallherolayout

block content 
  mainblock 
    contentblock 
      .maintextheader OC Insurance Agency Customer Resources
      .maintextbody 
        | Here at OC Insurance Agency, we're not just an insurance broker - we're your neighbors. Lets us connect you with helpful organizations that offer a wealth of insurance and claims-related information.
        | As always, if you have any questions regarding your policy or our products, our Homrgrown Pros are here to help. Just
        a(href="/ContactUs") contact your local agent for more information.
        |<br><br>
        | <b> Federal Trade Commission | 
        a(href="https://www.ftc.gov/") www.ftc.gov</a></b>
        |<br>
        | The Federal Trade Commission (FTC) is a government agency that protects consumers from unfair and deceptive business practices.
        | Report identity theft, file a consumer complaint, register your phone number for do not call, and more on thier website.
        |<br><br>
        | <b> Insurance Information Institute |
        a(href="https://www.iii.org/") www.iii.org</a></b>
        |<br>
        | The Insurance Information Institute (III) is a nonprofit organization that provides information on insurance-related topics.
        | Learn about insurance basics, disaster recovery, and more on their website.
        |<br><br>
        | <b> Insurance Institue for Highway Safty & Highway Loss Data Institute |
        a(href="https://www.iihs.org/") www.iihs.org</a></b>
        |<br>
        | The Insurance Institute for Highway Safety (IIHS) and Highway Loss Data Institute (HLDI) are independent, nonprofit organizations that conduct research on motor vehicle safety and insurance.
        | Find vehicle ratings, safety information, and more on their website.
        |<br><br>
        | <b> Life Happens |
        a(href="https://www.lifehappens.org/") www.lifehappens.org</a></b>
        |<br>
        | Life Happens is a nonprofit organization that provides information on life insurance and financial planning.
        | Learn about the importance of life insurance, how to choose the right policy, and more on their website.
        |<br><br>
        | <b> Medicare |
        a(href="https://www.medicare.gov/") www.medicare.gov</a></b>
        |<br>
        | Medicare is a federal health insurance program for people who are 65 or older, as well as certain younger people with disabilities.
        | Learn about eligibility, coverage options, and more on their website.
        |<br><br>
        | <b> National Flood Insurance Program |
        a(href="https://www.floodsmart.gov/") www.floodsmart.gov</a></b>
        |<br>
        | The National Flood Insurance Program (NFIP) is a federal program that provides flood insurance to property owners, renters, and businesses.
        | Learn about flood risks, coverage options, and more on their website.
        |<br><br>
        | <b> National Insurance Crime Bureau |
        a(href="https://www.nicb.org/") www.nicb.org</a></b>
        |<br>
        | The National Insurance Crime Bureau (NICB) is a nonprofit organization that combats insurance fraud and vehicle theft.
        | Report insurance fraud, check a vehicle's history, and more on their website.
        |<br><br>
        | <b> Occupational Safety and Health Administration |
        a(href="https://www.osha.gov/") www.osha.gov</a></b>
        |<br>
        | The Occupational Safety and Health Administration (OSHA) is a government agency that sets and enforces workplace safety standards.
        | Learn about workplace safety regulations, file a complaint, and more on their website.
        |<br><br>
        | <b> VelaPoint Insurance |
        a(href="https://www.velapoint.com/") www.velapoint.com</a></b>
        |<br>
        | VelaPoint Insurance is a licensed insurance agency that offers a variety of insurance products, including health, life, and auto insurance.
        | Get a quote, compare rates, and more on their website.
        |<br><br>

      .maintextheader Need More Help?
      .maintextbody 
        | Please don't hesitate to contact OC Insurance Agency with your questions regarding your existing policy or any of our products. We're here to help. 
        a(href="/GetAQuote") Visit our OC Isnsurance Agency office
        | or give us a call at +1(949)836-6193