extends ../smallherolayout

block content 
  mainblock
    contentblock 
      .maintextheader Home Insurance 
      .maintextbody 
        | Home insurance is a type of insurance that helps protect your home and personal belongings from financial losses resulting from accidents, theft, and other risks. 
        | This insurance policy typically covers damage to your home, personal property, and liability claims if someone is injured on your property. 
        | Home insurance is essential for homeowners, as it provides financial protection and peace of mind in the event of a disaster or accident.
      .maintextsubheader Coverage
      .maintextbody 
        | Home insurance typically covers the following:
        ul
          li Dwelling coverage: This helps pay for repairs to your home if it is damaged by a covered peril, such as fire, wind, or theft.
          li Personal property coverage: This helps pay for repairs or replacement of your personal belongings if they are damaged or stolen.
          li Liability coverage: This helps cover the costs of legal fees and damages if someone is injured on your property or if you damage someone else's property.
          li Additional living expenses: This helps cover the costs of temporary housing and living expenses if your home is uninhabitable due to a covered peril.
          li Medical payments coverage: This helps cover medical expenses for guests who are injured on your property, regardless of fault.