extends ../layout


block content
  products
    productstitle How we can help
    productslinks
      linkblock
        a(href="/")
          iconblock#generalliability
          linktitle General Liability
      linkblock
        a(href="/")
          iconblock#automotive
          linktitle Automotive
      linkblock
        a(href="/")
          iconblock#commercialvehicles
          linktitle Commercial Vehicles
      linkblock
        a(href="/")
          iconblock#home
          linktitle Home
      linkblock
        a(href="/")
          iconblock#motorcycle
          linktitle Motorcycle
  include ../templates/getaquote