extends ../layout


block content
  products
    productstitle How we can help
    productslinks
      linkblock
        a(href="/GeneralLiability")
          iconblock#generalliability
          linktitle General Liability
      linkblock
        a(href="/Automotive")
          iconblock#automotive
          linktitle Automotive
      linkblock
        a(href="/CommercialVehicles")
          iconblock#commercialvehicles
          linktitle Commercial Vehicles
      linkblock
        a(href="/Home")
          iconblock#home
          linktitle Home
      linkblock
        a(href="/Motorcycle")
          iconblock#motorcycle
          linktitle Motorcycle