extends ../smallherolayout

block content 
  mainblock 
    contentblock.learningcenter
      .maintextheader.learningcenter Insurance Discount Information, Answers to FAQs & More 
      learningcenter
        .learningcenterblock
          .learningcenterheader Insurance FAQs 
          .learningcenterbody Curious about your insurance policy? Here are the answers to some of our most commonly asked questions.
          a(href="/faq") View FAQs
        .learningcenterblock
          .learningcenterheader Helpful Links 
          .learningcenterbody Get connected to helpful organizations that offer a wealth of insurance and claims information.
          a(href="/helpfullinks") View Links
        .learningcenterblock 
          .learningcenterheader Glossary 
          .learningcenterbody Insurance can be confusing and difficult. Let us make it easier to understand with our handy glossary! 
          a(href="/glossary") View Glossary