extends ../smallherolayout

block content
  mainblock
    contentblock
      .maintextheader Proudly Serving Orange County Since 2005
      .maintextbody
        | OC Insurance Agency has been providing comprehensive insurance solutions to residents and businesses in Orange County since 2005.
        | We are dedicated to helping our clients protect what matters most to them, whether it's their home, car, business, or family.
        | <br><br>
        | At OC Insurance Agency, we pride ourselves on consistently delivering exceptional customer service and personalized insurance solutions tailored to our clients' needs.
        | Our team of experienced agents is committed to helping you find the right coverage at the right price, so you can have peace of mind knowing you're protected.
        | <br><br>
        | Whether you're looking for auto insurance, home insurance, life insurance, or business insurance, we have the expertise and resources to help you find the perfect policy.
        | We work with a wide range of insurance carriers to provide you with multiple options and competitive rates, so you can choose the coverage that best fits your needs and budget.
        | <br><br>
        | When you choose OC Insurance Agency, you're not just getting an insurance policy—you're getting a team of dedicated professionals who are here to support you every step of the way.
        | We're proud to be a part of the Orange County community and look forward to serving you for many years to come.
        | <br><br><br>