extends ../smallherolayout

block content
  mainblock 
    contentblock 
      .maintextheader Meet the OC Insurance Agency Team
      .maintextbody 
        | At OC Insurance Agency, we're more than just insurance agents—we're your neighbors, friends, and community members. 
        | Our team of experienced professionals is dedicated to providing you with exceptional customer service and personalized insurance solutions tailored to your needs.
        | Whether you're looking for auto insurance, home insurance, life insurance, or business insurance, we have the expertise and resources to help you find the perfect policy.
        | <br><br>
        | Meet the team that makes it all possible:
        | <br><br>
      .meettheteamblock
        .mttheader Our Team
        .mttblock
          .teammember 
            img.teammemberimg(src="/images/icons/MemberIcon.jpg", alt="Agent 1")
            .teammemberinfo 
              .teammembername John Doe
              .teammembertitle Insurance Agent

          .teammember 
            img.teammemberimg(src="/images/icons/MemberIcon.jpg", alt="Agent 2")
            .teammemberinfo 
              .teammembername Jane Smith
              .teammembertitle Insurance Agent

          .teammember 
            img.teammemberimg(src="/images/icons/MemberIcon.jpg", alt="Agent 3")
            .teammemberinfo 
              .teammembername Mike Johnson
              .teammembertitle Insurance Agent