.dropdownarrow
  svg(width="12" height="10" viewBox="0 0 11.4 6.1" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(class="" fill="currentcolor" fill-rule="evenodd" clip-rule="evenodd" d="m.1.1c.2-.1.5-.1.6 0l4.9 4.9 4.9-4.9c.2-.2.4-.2.6 0s.2.4 0 .6l-5.1 5.3c-.2.2-.4.2-.6 0l-5.3-5.3c-.1-.1-.1-.4 0-.6z")
