link(rel='stylesheet', href='/stylesheets/footermessage.css')

footermessage
  box
    main Get a Free Quote Today!
    message
      text My name is Andy Almeida and I am a web developer. I am looking for a way to make a clean template for your business!
      .phonenumber Call me at +1(949)836-6193