extends layout 

block content
  h1= title
  p Welcome to #{title}
  p Get a quote for your project
  form#quoteform(method='post' action='/UserQuoteSubmitted')
    div
      label(for='name') Name:
      input(type='text' name='name' required)
    div
      label(for='email') Email:
      input(type='email' name='email' required)
    div
      label(for='phone') Phone:
      input(type='tel' name='phone' required)
    div
      label(for='message') Message:
      textarea(name='message' required)
    div
      input(type='submit' value='Submit')

  script(src='/javascripts/quotesubmission.js')