link(rel='stylesheet', href='/stylesheets/header.css')

header
  a#CompanyLogoIcon(href="/")
  nav
    .menu-icon#menu-icon &#9776;
    ul#nav-menu
      li
        a(href="GetAQuote") Get A Quote
      li
        a(href="Products") Products
      li
        a(href="About") About
      li
        a(href="PhoneNumber") 1-949-836-6193

script(src='/javascripts/menu.js')